<div>

    <br />
    <br />
    <div style="font-weight: 600;" id="EVERYONE">
        <%data.items.forEach((post)=>{%>
        <div class="card" >
            <div class="card-body blue">
                <h2 class="card-title"><u><%=post.post_title%></u></h2>
                <p class="card-text"><%=post.post_date.toLocaleString()%></p>
                <p class="card-text"><%-post.post_note%></p>
                <%if (typeof data.user != 'undefined') {%>
                    <form method="POST" action="/posts/comment">
                        <input type="hidden" value="<%=post.id%>" name="postid" id="postid">
                        <label for="cmnt_text">Comment: </label>
                        <input type="text" name="cmnt_text" id="cmnt_text" class="form-control" size="75">
                        <input type="submit" class="btn btn-info btn-local" value="Add Comment">
                    </form>
                <div class="comment-block">
                    <%post.comments.forEach((cmt)=>{%>
                        <p class="card-text" ><%=`At ${cmt.cmnt_date.toLocaleString()}, ${cmt.user.user_name} said:`%><br /><%= `"${cmt.cmnt_text}"`%>
                            <%if (data.user.user_level >= 5 || data.user.id == cmt.userId) {%>
                                <form action="/posts/comment?_method=DELETE" method="post" style="display:inline;">
                                 <input type="hidden" value="<%=cmt.id%>" name="commentid" id="commentid">
                                 <input type="submit" class="btn btn-danger btn-local" value="Delete">
                                </form>
                            <%}%>
                        </p>

                    <%})%>
                </div>
                <%}%>

            </div>
        </div>

        <%})%>
    </div>
    <br />
    <% if (typeof data.user != 'undefined') { %>


    <%}%>
    <br />
    <% if (typeof data.user != 'undefined' && data.user.user_level > 3) { %>



    <%}%>


</div>