

    <% if (typeof data.user != 'undefined') { %>
        <div style="margin-bottom: 10px;">
            See entries with: <a href="/entries/filtered/1">Energy Gain</a>&nbsp;&nbsp;&nbsp;
            <a href="/entries/filtered/2">Energy Decrease</a>&nbsp;&nbsp;&nbsp;
            <a href="/entries/filtered/3">Mood Improve</a>&nbsp;&nbsp;&nbsp;
            <a href="/entries/filtered/4">Mood Decline</a>&nbsp;&nbsp;&nbsp;
        </div>

        <% data.items.forEach(function(entry){ %>
        <div class="card">
            <div class="card-body blue">
                <h2 class="card-title"><a href="/entries/<%=entry.id%>"><%=`${entry.sess_title}, ${entry.sess_date.toLocaleString()}`%></a> </h2>
                <p class="card-text"><%=entry.sess_duration%> minutes</p>
                <p class="card-text">Mood Change: <%= entry.sess_moodpost - entry.sess_moodpre%></p>
                <p class="card-text">Energy Change: <%= entry.sess_energypost - entry.sess_energypre%></p>
                <%entry.items.forEach((item)=>{%>
                    <p class="card-text"><%=`${item.category.cat_name}: ${item.itm_name}`%></p>
                <%})%>




            </div>
        </div>
        <%})%>




    <%}%>



