<div>

    <% if (typeof data.user != 'undefined') { %>
    <a href="/categories/new" class="btn btn-info" style="margin-bottom:10px;">Add New Item</a>
        <% data.items.forEach(function(category){ %>
        <div class="card">
            <div class="card-body blue">
                <h2 class="card-title"><%=category.cat_name%></h2>
                <p class="card-text"><%=category.cat_desc%></p>
                <%category.items.forEach((item)=>{%>

                <h3 class="card-title"><a href="/categories/<%=item.id%>"><%=item.itm_name %> (click/tap to edit)</a></h3>
                <p class="card-text"><%=item.itm_desc%></p>
                <%})%>

            </div>
        </div>
        <%})%>




    <%}%>


</div>
